body{
    text-align: center;
    background-color: beige;
}

img{
    width: 500px;
    height: 350px;
}

h3{
    font-family: 'Patrick Hand', cursive;
}

h2{
    font-family: 'Patrick Hand', cursive;
}

h1{
    font-family: 'Patrick Hand', cursive;
}

a{
    font-family: 'Patrick Hand', cursive;
    font-size: 25px;
}